<div class='card-container' style='display: flex; flex-wrap: wrap; justify-content: center; gap: 20px; margin: 20px;'>
  {{#each products.payload}}
    <div id='card-{{id}}' class='card' style='width: 15rem'>
      <img src='{{this.thumbnails}}' class='card-img-top' alt='Product image' style='height: 100px; object-fit: cover;' />
      <div class='card-body' style='padding: 8px'>
        <h6 class='card-title' style='margin-bottom: 0'>{{title}}</h6>
        <p class='card-text' style='font-size: 12px; margin-bottom: 8px'>{{description}}</p>
        <p class='card-text' style='font-weight: bold; color: darkblue; margin-bottom: 8px'>{{price}} USD</p>
        <p class='card-text' style='text-transform: uppercase; color: gray; font-size: 12px; margin-bottom: 8px'>{{category}}</p>
        <p class='card-text' style='font-weight: 500;  font-size: 12px'>STOCK: {{stock}}</p>
      </div>
    </div>
  {{/each}}
</div>

<script src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.js'></script>
<script>
  const ws = io("{{wsUrl}}");
    ws.on('connect', () => {
      ws.on('server_confirm', (msg) => {
        console.log(msg);
      });
    });

    const cardContainer = document.getElementsByClassName('card-container')[0]
    ws.on('new_product', ({ message, newProduct, newId }) => {
      console.log(message);
      const newCard = `
        <div id='card-${newId}' class='card' style='width: 15rem'>
          <img src='${newProduct.thumbnails[0]}' class='card-img-top' alt='Product image' style='height: 100px; object-fit: cover;' />
          <div class='card-body' style='padding: 8px'>
            <h6 class='card-title' style='margin-bottom: 0'>${newProduct.title}</h6>
            <p class='card-text' style='font-size: 12px; margin-bottom: 8px'>${newProduct.description}</p>
            <p class='card-text' style='font-weight: bold; color: darkblue; margin-bottom: 8px'>${newProduct.price} USD</p>
            <p class='card-text' style='text-transform: uppercase; color: gray; font-size: 12px; margin-bottom: 8px'>${newProduct.category}</p>
            <p class='card-text' style='font-weight: 500;  font-size: 12px'>STOCK: ${newProduct.stock}</p>
          </div>
        </div>
      `;
      cardContainer.innerHTML += newCard;
    });

    ws.on('deleted_product', ({ message, deletedId }) => {
      console.log(message);
      const deletedCard = document.getElementById(`card-${deletedId}`);
      deletedCard.remove();
    });
</script>